$background-img: 'https://www.toptal.com/designers/subtlepatterns/patterns/funky-lines.png';

@keyframes scroll {
  100% {
    background-position: -3000px 3000px;
  }
}

.backdrop {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  background: url($background-img);
  animation: 100s scroll infinite linear;
}
