.home-container {
  max-width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 6vmin;
}
.title,
.subTitle {
  font-size: 2rem;
}
.info {
  font-size: 1.5rem;
  color: rgb(27,27,27);
  font-weight: 300;
}
.footer {
  padding-top: 12vmin;
  width: 100%;
  text-align: center;
  padding: 6vmin;
}

.home-header {
  flex: 1;
  img.logo {
    width: 300px;
    margin-bottom: 2vmin;
  }
}

.home-description {
  flex: 1;
  font-size: 1rem;
}

.links-container {
  display: flex;

  .card {
    flex: 1;
    margin: 12px;
    background: rgba(white, 0.6);
    text-align: center;


    .qr-code-wrapper {
      text-align: center;
      padding: 4vmin;
      padding-top: 2vmin;

      .qr-code {
        transform: translateX(calc(30vmin*10/740/2));
        height: 30vmin;
        width: 30vmin;
        margin-right: -6vmin;
        margin-bottom: -6vmin;
      }
    }
  }
}
@media screen and (max-width: 760px) {
  .title,
.subTitle,
.info {
  font-size: 1.2rem;
}
  .home-header {
    text-align: center;
  }
    .links-container {
      flex-flow: column;
    }
}