<div class="home-container">
  <div class="home-header">
    <img class="logo" src="../../../assets/logo.png">
    <h1 class="subTitle">{{event.subTitle}}</h1>
    <h1 class="title">{{event.title}}</h1>
    <br>
    <h1 class="info">{{event.date}}</h1>
    <h1 class="info">{{event.time}}</h1>
    <h1 class="info">{{event.venue}}</h1>
  </div>
  <div class="links-container">
    <div class="card" *ngFor="let link of links">
      <div class="card-body">
        <h4 class="card-title">{{link.title}}</h4>
        <a class="card-subtitle" [href]="link.url" target="_blank">{{link.url}}</a>
      </div>
      <div class="card-body qr-code-wrapper">
        <img class="card-img-top qr-code" [src]="link.qrUrl">
      </div>
    </div>
  </div>
  <div class="footer">
    Made with <i class="fa fa-heart" style="color: red"></i> by <a href="https://www.ntuoss.com/" target="_blank">NTUOSS</a>
  </div>
</div>